:root {
    --primary-side: #1c1e1f;
    --primary-colored: #4e08be;
    --menu-btn-color: #fff;
    --default-bg-color: #4e08be;
    
  }
  
  body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Geo', sans-serif;
    overflow-x: hidden;
    background-color: #090C1A;
  }
  
  
  /*Scrollbar*/
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  *{
    scroll-behavior: smooth;
  }
  
  
  /* Track */
  
  ::-webkit-scrollbar-track {
    background: var(--primary-side);
  }
  
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
    background: var(--menu-btn-color);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  
  /* Loading Screenn */
  
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-side);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
  }
  
  #loading-screen img {
    width: 190px;
    height: 135px; 
  }
  
  
  /* Sidebar */
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #1c1e1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  /* Logo */
  
  .logo {
    max-width: 98%;
    transition: opacity 0.3s ease-in-out;
    height: auto;
  }
  
  .logo-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    flex-shrink: 0;
  }
  
  .logo-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background-image: url('../assets/logo/raeden_logo_main_4x_hovered.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .logo-container:hover .logo {
    opacity: 0;
  }
  
  .logo-container:hover::after {
    opacity: 1;
  }
  
  
  /* Pages */
  
  nav {
    width: 100%;
    margin-bottom: 200px;
  }
  
  @media screen and (max-height: 990px) {
    nav {
        margin-bottom: 200px;
    }
  }
  
  @media screen and (min-height: 991px) {
    nav {
        margin-bottom: 120px;
    }
  }
  
  @media screen and (min-height: 1300px) {
    nav {
        margin-bottom: 210px;
    }
  }
  @media screen and (min-height: 2000px) {
    nav {
        width: 100%;
        margin-bottom: 870px;
    }
  }
  
  nav ul {
    padding-left: 0;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    text-align: left;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li:hover {
    background-color: #292b2c; 
  }
  
  nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.6em; 
    justify-content: flex-start;
    text-decoration: none;
    color: #fff;
    font-family: "Handjet", system-ui;
    position: relative;
  }
  
  nav ul li a.active {
    font-weight: bold;
    position: relative;
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 0;
    background-color: white;
    transition: height 0.3s ease;
    left: -20px;
  }
  
  nav ul li a:hover::after {
    height: 25%;
  }
  
  
  nav ul li a.active::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: #ffffff;
    height: 0;
    opacity: 0;
    animation: growLine 0.3s ease-out forwards;
  }
  
  @keyframes growLine {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 60%;
      opacity: 1;
    }
  }
  
  nav ul li a img {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
  }
  
  
  /* Socials */
  
  .social-icons {
    position: relative;
    top: -40px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }
  
  .social-icons .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.5px;
  }
  
  .social-icons a img {
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover img {
    transform: scale(1.08);
  }
  
  /* Website Status */
  
  .website-status {
    font-size: 1em;
    text-align: center;
    color: #F32013;
    flex-shrink: 0;
    margin-top: -60px;
    margin-bottom: 11px;
  }
  
  /* Copyright */
  
  .copyright {
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    flex-shrink: 0;
    margin-top: -35px;
    margin-bottom: 15px;
  }
    


/* Main Contents */

.main-content {
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 240px;
    background-color: #090C1A;
}

.main-content h1 {
    color: #fff; 
}



/* Raid */

.page-title {
    font-family: 'Handjet', sans-serif;
    text-align: left;
    margin: 1.5rem 0;
    margin-left: 100px;
    color: #333;
    font-size: 55px;
}

.raid-studio {
    display: flex;
    gap: 2rem;
    padding: 0 95px;
    margin: 2rem 0;
}
  .projects-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      padding: 0.5rem;
      width: 100%;
  }

  .project-card {
      position: relative;
      width: 100%;
      min-width: 450px;
      background: var(--default-bg-color);
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: transform 0.3s ease;
  }

  .project-card:hover {
      transform: translateY(-5px);
  }

  .project-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }

  .peek-icon {
      position: absolute;
      top: 13px;
      left: 15px;
      color: white;
      font-size: 14px;
      z-index: 2;
      animation: peek-animation 2s infinite ease-in-out;
  }

  @keyframes peek-animation {
      0% { transform: scale(1); }
      50% { transform: scale(1.15); }
      100% { transform: scale(1); }
  }
  

.project-description {
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.project-description h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.project-description h3 {
    font-size: 25px;
}

.project-description p {
    font-size: 20px;
}

/* Popup Styles */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 999999;
}

.popup-content {
    position: relative;
    background: var(--default-bg-color);
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 10000;
}

@media screen and (min-width: 1800px) {
    .popup-content {
        max-width: 1100px;
    }
  }
  @media screen and (min-width: 2400px) {
    .popup-content {
        max-width: 1250px;
        max-height: 90vh;
    }
  }

.discord-button {
    position: fixed;
    z-index: 100;
}
  @media screen and (min-width: 3700px) {
    .popup-content {
        max-width: 1300px;
        max-height: 80vh;
    }
  }

.popup-content h2 {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.popup-content p {
    font-size: 23px;
    color: #fff;
    padding: 0;
    margin: 10px 0;
}


.close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}
  .popup-gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 20px;
  }

  .popup-gallery img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
  }

.popup {
    z-index: 1000;
}

/* Discord */

.discord-button {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 999;
    margin: 0;
    border: #000 4px solid;
}

.discord-button:hover {
    transform: scale(1.02);
}

.discord-button img {
    width: 24px;
    height: 24px;
}


.discord-tooltip {
    position: absolute;
    background: #1a1a1a;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.discord-button:hover .discord-tooltip {
    opacity: 1;
}

.discord-text {
    color: #000;
    font-weight: bold;
}


/*Hamburger Menu*/

.hamburger-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

/* Cursor */

* {
    cursor: url('../assets/cursor/cursor_normal.png') 16 16, auto;
}

/* Interactive elements cursor */
a, 
button, 
.project-card, 
.discord-button, 
.hamburger-menu, 
span,
.close-btn,
.social-icons a,
.social-icons img,
.social-icons .row a,
nav ul li a,
.popup-content img,
input[type="submit"],
select,
.logo:hover,
.bar,
.filter-button,
.filter-buttons button,
.page-navigation button,
.nav-btn,
.nav-btn img,
.page-nav,
.project-card img,
.project-description,
.page-nav button,
.logo img
{
    cursor: url('../assets/cursor/cursor_interact.png') 16 16, pointer;
}


/* Intro */
  .studio-intro {
      display: flex;
      gap: 40px;
      padding: 0 100px;
      width: 100%; 
      box-sizing: border-box;
  }

  .studio-logo {
      flex: 1;
      width: 100%;
      text-align: center;
  }
    .studio-logo img {
        width: 100%;
        height: auto;
    }

    .studio-description {
        flex: 4;
        width: 100%;
        color: #fff;
    }

  .studio-description p {
    font-size: 20px;
      margin-bottom: 15px;
      line-height: 1.6;
      font-family: 'Geo', sans-serif;
      text-align: justify;
  }

  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
      .studio-intro {
          text-align: center;
          padding: 40px;
      }
    
      .studio-logo, .studio-description {
          flex: 1;
      }
  }

  /*Last Updated*/

.last-updated {
  text-align: center;
  padding: 15px 0;
  padding-top: 2px;
  color: #666;
  font-size: 1rem;
}