:root {
  --primary-side: #1c1e1f;
  --primary-colored: #4e08be;
  --menu-btn-color: #fff;
  --default-bg-color: #4e08be;
  
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Geo', sans-serif;
  overflow-x: hidden;
  background-color: #090C1A;
}


/*Scrollbar*/

::-webkit-scrollbar {
  width: 6px;
}

*{
  scroll-behavior: smooth;
}


/* Track */

::-webkit-scrollbar-track {
  background: var(--primary-side);
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--menu-btn-color);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}


/* Loading Screenn */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-side);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

#loading-screen img {
  width: 190px;
  height: 135px; 
}


/* Sidebar */

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #1c1e1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


/* Logo */

.logo {
  max-width: 98%;
  transition: opacity 0.3s ease-in-out;
  height: auto;
}

.logo-container {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  flex-shrink: 0;
}

.logo-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  background-image: url('../assets/logo/raeden_logo_main_4x_hovered.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo-container:hover .logo {
  opacity: 0;
}

.logo-container:hover::after {
  opacity: 1;
}


/* Pages */

nav {
  width: 100%;
  margin-bottom: 200px;
}

@media screen and (max-height: 990px) {
  nav {
      margin-bottom: 200px;
  }
}

@media screen and (min-height: 991px) {
  nav {
      margin-bottom: 120px;
  }
}

@media screen and (min-height: 1300px) {
  nav {
      margin-bottom: 210px;
  }
}
@media screen and (min-height: 2000px) {
  nav {
      width: 100%;
      margin-bottom: 870px;
  }
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  text-align: left;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

nav ul li:hover {
  background-color: #292b2c; 
}

nav ul li a {
  display: flex;
  align-items: center;
  font-size: 1.6em; 
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
  font-family: "Handjet", system-ui;
  position: relative;
}

nav ul li a.active {
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 0;
  background-color: white;
  transition: height 0.3s ease;
  left: -20px;
}

nav ul li a:hover::after {
  height: 25%;
}


nav ul li a.active::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 3px;
  background-color: #ffffff;
  height: 0;
  opacity: 0;
  animation: growLine 0.3s ease-out forwards;
}

@keyframes growLine {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 60%;
    opacity: 1;
  }
}

nav ul li a img {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}


/* Socials */

.social-icons {
  position: relative;
  top: -30px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.social-icons .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.social-icons a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4.5px;
}

.social-icons a img {
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.08);
}


/* Copyright */

.copyright {
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
  margin-top: -30px;
  padding-bottom: 15px;
}

/* Main Contents */

.main-content {
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-color: #090C1A;
    margin-left: 240px;
}

.main-content h1 {
    color: #fff; 
}

/* Preview */

.title {
    font-family: 'Handjet', sans-serif;
    text-align: left;
    color: #333;
    font-size: 36px;
    margin-top: -20px;
    margin-bottom: -13px;
  }

  .mobile-title {
    display: none;
  }

.section {
    background-color: var(--color-primary);
}
  
.carousel {
    padding-bottom: 30px;
}

  .container {
    width: 85%;
    margin: 0 auto;
    padding: 0 35px;
  }

  @media (min-width: 1800px) {
    .container {
      width: 88%;
    }
}
@media (min-width: 2400px) {
  .container {
    width: 91%;
  }
}

  .carousel {
    display: block;
    text-align: left;
    position: relative;
  
  }
  .carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 3px #1a1f35
    ;
  }
  .carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }
  .carousel__slide {
    z-index: 1;
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
  }
  .carousel__slide figure {
    display: flex;
    margin: 0;
  }
  .carousel__slide div {
    position: relative;
    width: 100%;
  }
  .carousel__slide div:before {
    display: block;
    content: "";
    width: 10%;
    padding-top: 66.6666666667%;
  }
  .carousel__slide div > img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
    border: 5px solid #1a1f35;
  }
  .carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
  }
  .carousel__slide figcaption {
    align-self: flex-end;
    flex: 0 0 auto;
    width: 35%;
    min-width: 150px;
  }
  figcaption {
    font-size: 25px;
    color: #fff;
    font-family: 'Geo', sans-serif;
  }
  .carousel__slide .credit {
    margin-top: 5px;
    color: var(--color-white);
    display: block;
  }
  .carousel__slide.scrollable {
    overflow-y: scroll;
  }
  .carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
  }
  .carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
  }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails label {
    display: block;
    position: relative;
  }
  .carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }
  .carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
  }
  .carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Filter */

.portfolio {
  position: relative;
  padding: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  z-index: 1001; 
  background-color: #090C1A;
}

.portfolio-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-title {
  margin: 0;
  font-size: 55px;
  color: #fff;
  margin-right: 50px;
  font-family: "Handjet", system-ui;
}

.filter-buttons {
  text-align: center;
  display: flex;
}

.filter-btn:hover {
  background-color: initial;
}

.filter-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 25px;
  transition: all 0.3s ease;
  color: #fff;
  margin: 0 5px;
  margin-top: 23px;
  font-family: "Geo", system-ui;
}

.filter-btn span {
  position: relative;
  z-index: 1;
}

.filter-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #055ACD;
  transition: all 0.2s ease;
}

.filter-btn.active {
  font-weight: bold;
}

.filter-btn.active::after {
  width: 30%;
  left: 35%;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5px;
}

.portfolio-item {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.portfolio-item:nth-child(1) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.portfolio-item:nth-child(5) {
grid-column: span 2;
aspect-ratio: 2 / 1;
}

.portfolio-item:nth-child(9) {
grid-column: span 2;
aspect-ratio: 2 / 1;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}  

.image-viewer {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.full-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.portfolio-item.gui {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
}

.portfolio-item.gui:nth-child(3n-2) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.portfolio-item.sprites:nth-child(3n-1) {
  grid-column: span 2;
  aspect-ratio: 2 / 1; 
}

.portfolio-item.models:nth-child(3n-3) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.portfolio-item.animations:nth-child(3n-2) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.portfolio-item.development:nth-child(3n-1) {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.portfolio-item.gui img {
  width: 100%;
  height: 100%;
}
  .category-buttons {
      text-align: center;
      margin: 20px 0;
      width: 100%;
  }

  .category-link {
      display: none;
      padding: 10px 0;
      background-color: var(--default-bg-color);
      color: white;
      text-decoration: none;
      transition: all 0.2s ease;
      width: 100%;
      font-weight: bold;
      font-size: 20px;
  }
  

  .category-link:hover {
      letter-spacing: 0.2px;
  }


  /* Discord */

  .discord-button {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
    margin: 0;
    border: #000 4px solid;
}

.discord-button:hover {
  transform: scale(1.02);
}

.discord-button img {
  width: 24px;
  height: 24px;
} 


.discord-tooltip {
  position: absolute;
  background: #1a1a1a;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.discord-button:hover .discord-tooltip {
  opacity: 1;
}

.discord-text {
  color: #000;
  font-weight: bold;
}


/*Hamburger Menu*/

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}


/* Cursor */

* {
  cursor: url('../assets/cursor/cursor_normal.png') 16 16, auto;
}

/* Interactive elements cursor */
a, 
button, 
.project-card, 
.discord-button, 
.hamburger-menu, 
.close-btn,
.social-icons a,
.social-icons img,
.social-icons .row a,
nav ul li a,
.popup-content img,
input[type="submit"],
select,
.logo:hover,
.bar,
.filter-button,
.filter-buttons button,
.page-navigation button,
.nav-btn,
.nav-btn img,
.page-nav,
.page-nav button,
.carousel-thumbnails img,
.thumbnail-image,
.portfolio-item img
{
  cursor: url('../assets/cursor/cursor_interact.png') 16 16, pointer;
}


/*Last Updated*/

.last-updated {
  text-align: center;
  padding: 10px 0;
  color: #666;
  font-size: 1rem;
}
