:root {
    --primary-side: #1c1e1f;
    --primary-colored: #4e08be;
    --menu-btn-color: #fff;
    --default-bg-color: #4e08be;
    
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-side);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--menu-btn-color);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 15%;
    background-color: var(--primary-side);
    height: 100%;
    position: fixed;
}

.logo {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 9px;
    background-image: url("../assets/logo/raeden_logo_main_4x.png");
    width: 185px;
    height: 100px;
    background-size: contain; 
    background-repeat: no-repeat;
    transition: background-image 0.25s ease-in-out; 
}

.sidebar .logo:hover {
    background-image: url("../assets/logo/raeden_logo_main_4x_hovered.png");
}
.logo-na img{
    display: none;
}

.floating {  
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 4px); }
    100%   { transform: translate(0, -0px); }    
  }

.tabs {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.objects1, .objects2, .objects3, .objects4, .objects5 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.objects1 a, .objects2 a, .objects3 a, .objects4 a, .objects5 a{
    text-decoration: none;
    color: #fff;
    font-family: "Handjet", sans-serif;
    font-size: 25px;
    margin-left: 4px;
}

.objects1:hover{
    background-color: aliceblue;
}

.buttons {
    margin-top: 70px;
    margin-left: 8.5%;
}

@media screen and (max-width: 280px) {
    
}

.buttons-row1 a {
    margin-right: 2px;
}

.buttons-row1 {
    margin-bottom: 2px;
}

.buttons-row2 a {
    margin-right: 2px;
}

.rightsres {
    font-family: "Geo", sans-serif;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 35%;
}




 /*Content*/

 .content {
    margin-left: 15%;
 }

 .background img {
    display: ;
 }
