:root {
    --primary-side: #1c1e1f;
    --primary-colored: #4e08be;
    --menu-btn-color: #fff;
    --default-bg-color: #4e08be;
    
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Geo', sans-serif;
    overflow-x: hidden;
    background-color: #090C1A;
}


/*Scrollbar*/

::-webkit-scrollbar {
    width: 6px;
}

*{
    scroll-behavior: smooth;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--primary-side);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--menu-btn-color);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}


/* Loading Screenn */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-side);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

#loading-screen img {
    width: 190px;
    height: 135px; 
}


/* Sidebar */

 .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #1c1e1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


/* Logo */

.logo {
    max-width: 98%;
    transition: opacity 0.3s ease-in-out;
    height: auto;
}

.logo-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    flex-shrink: 0;
}

.logo-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background-image: url('../assets/logo/raeden_logo_main_4x_hovered.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.logo-container:hover .logo {
    opacity: 0;
}

.logo-container:hover::after {
    opacity: 1;
}


/* Pages */

nav {
    width: 100%;
    margin-bottom: 150px;
}

@media screen and (min-height: 900px) {
    nav {
        margin-bottom: 50px;
    }
  }

@media screen and (min-height: 1300px) {
    nav {
        margin-bottom: 170px;
    }
  }
  @media screen and (min-height: 2000px) {
    nav {
        width: 100%;
        margin-bottom: 870px;
    }
  }

nav ul {
    padding-left: 0;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    text-align: left;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

nav ul li:hover {
    background-color: #292b2c; 
}

nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.6em; 
    justify-content: flex-start;
    text-decoration: none;
    color: #fff;
    font-family: "Handjet", system-ui;
    position: relative;
}

nav ul li a.active {
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 0;
    background-color: white;
    transition: height 0.3s ease;
    left: -20px;
}

nav ul li a:hover::after {
    height: 25%;
  }


nav ul li a.active::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: #ffffff;
    height: 0;
    opacity: 0;
    animation: growLine 0.3s ease-out forwards;
}

@keyframes growLine {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 60%;
      opacity: 1;
    }
}

nav ul li a img {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
}


/* Socials */

.social-icons {
    position: relative;
    top: -30px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.social-icons .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.social-icons a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.5px;
}

.social-icons a img {
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.08);
}


/* Copyright */

.copyright {
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    flex-shrink: 0;
    margin-top: -30px;
    padding-bottom: 15px;
}


/* Main Contents */

.main-content {
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 240px;
    background-color: #090C1A;
    padding-bottom: 30px;
}

.main-content h1 {
    color: #fff; 
}



/* Project */

.page-title {
    font-family: 'Handjet', sans-serif;
    text-align: left;
    margin: 1.5rem 0;
    margin-left: 100px;
    color: #333;
    font-size: 55px;
}

.project-section {
    display: flex;
    gap: 2rem;
    padding: 0 100px;
    margin: 2rem 0;
}

.project-image {
    flex: 0 0 40%;
}

.project-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-content {
    flex: 0 0 58%;
    margin-top: -40px;
}

.project-title {
    font-family: 'Handjet', sans-serif;
    font-size: 2.6rem;
    margin-bottom: 1rem;
    color: #fff;
}

.project-description {
    font-size: 21px;
    line-height: 1.6;
    color: #ffff;
    text-align: justify;
    font-family: 'Geo', sans-serif;
}

/* Discord */

.discord-button {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
    margin: 0;
    border: #000 4px solid;
}

.discord-button:hover {
    transform: scale(1.02);
}

.discord-button img {
    width: 24px;
    height: 24px;
}


.discord-tooltip {
    position: absolute;
    background: #1a1a1a;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.discord-button:hover .discord-tooltip {
    opacity: 1;
}

.discord-text {
    color: #000;
    font-weight: bold;
}


/*Hamburger Menu*/

.hamburger-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

/* Cursor */

* {
    cursor: url('../assets/cursor/cursor_normal.png') 16 16, auto;
}

/* Interactive elements cursor */
a, 
button, 
.project-card, 
.discord-button, 
.hamburger-menu, 
.close-btn,
.social-icons a,
.social-icons img,
.social-icons .row a,
nav ul li a,
.popup-content img,
input[type="submit"],
select,
.logo:hover,
.bar,
.filter-button,
.filter-buttons button,
.page-navigation button,
.nav-btn,
.nav-btn img,
.page-nav,
.page-nav button
{
    cursor: url('../assets/cursor/cursor_interact.png') 16 16, pointer;
}
