
@media screen and (min-height: 800px) {
    .sidebar {
        padding-top: 30px;
    }
    nav {
        width: 100%;
        margin-top: -180px;
    }
    .social-icons {
        position: relative;
        top: -90px;
    } 
}


@media screen and (min-height: 1000px) {
    nav {
        width: 100%;
        margin-top: -530px;
    }
    nav ul li a {
        font-size: 1.7em;
    }
    .social-icons {
        position: relative;
        top: -110px;
    }
    .copyright {
        padding-bottom: 35px;
    }
}

@media screen and (min-height: 1200px) {
    .sidebar {
        padding-top: 35px;
    }
    nav {
        width: 100%;
        margin-top: -550px;
    }
    .copyright {
        padding-bottom: 45px;
    }
}

@media screen and (min-height: 1300px) {
    nav {
        width: 100%;
        margin-top: -650px;
    }

}

@media screen and (min-height: 1400px) {
    nav {
        width: 100%;
        margin-top: -750px;
    }

}


@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-container {
        align-items: center;
    }

    .about-text {
        text-align: center;
        margin-right: 0;
    }

    .skills-section {
        margin-top: 30px;
    }


    .logo {
        max-width: 96%;
        transition: opacity 0.3s ease-in-out;
        height: auto;
        margin-top: 30px;
    }
    .logo-container::after {
        width: 96%;
        margin-top: 30px;
    }
    
    .hamburger-menu {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 196px;
        z-index: 999;
        background-color: #1a1a1a;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    /* Hamburger animation classes */
    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .contact h1 {
        font-size: 45px;
    }
    .discord-button {
        padding: 0 10px;
    }



    .background-art {
        display: none;
    }

}